@model MicroPost.Models.UserModel

@{
    ViewBag.Title = "Micro Post | Forgot Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="bodycontent">
    <h2>Forgot Password</h2>
    <hr />
    @using (Html.BeginForm()) {
        @*@Html.ValidationSummary(true, "Error while sending password.");*@
        <div class="col-md-4">
            <div class="form-group">
                @Html.LabelFor(u => u.EmailId, new { @for = "email" })
                @Html.TextBoxFor(u => u.EmailId, new { @class = "form-control", @id = "email" })
                @Html.ValidationMessageFor(u => u.EmailId)
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="col-md-4">
            <div class="form-group">
                <input type="submit" value="Send Me Password" class="btn btn-success" />
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="col-md-4">
            <div class="form-group">
                <label class="@(ViewBag.Message == "" ? "label-success" : "label-danger")">@(ViewBag.Message == "" ? "Login details has been sent to your email." : ViewBag.Message)</label>
            </div>
        </div>
    }
</div>
